@charset "UTF-8";

.item-right {
    margin-left: 20px;
    margin-top : 20px;
    width      : 500px;
}

.column1-right {
    margin-top : 15px;
    margin-left: 10px;
}

.column1-right {
    padding    : 15px 0 13px 10px;
    border-left: 6px #DF7478 solid;
}

.column1-right h1 {
    color      : red;
    font-size  : 35px;
    margin-left: 20px;
}

.column1-right h5 {
    margin-bottom: 0;
    margin-left  : 15px !important;
    line-height  : 40px;
    margin-right : 19px;
}

.column2 {
    margin-top: 40px;
    width     : 500px;
}

.column2-left h1 {
    font-size: 50px;
}

.column2-right h1 {
    font-size: 50px;
}

.column3-left {
    margin-top: 20px;
}

.column3 {
    width: 1020px;
}

.column-some {
    padding     : 10px 30px 0 30px;
    text-align  : center;
    border-right: 1px solid #c4c4c4;
    margin-top  : 10px;
}

.column-some:nth-of-type(4) {
    border: none;
}

.column3-right {
    margin-top: 20px;
}

input[type="text"] {
    height: 60px;
    width : 200px;
}

.zero {
    font-size: 30px;
}

.button01 {
    width             : 150px;
    height            : 50px;
    line-height       : 50px;
    color             : #FFF;
    text-decoration   : none;
    text-align        : center;
    background-color  : #58ACFA;
    /*ボタン色*/
    border-radius     : 5px;
    /*角丸*/
    -webkit-transition: all 0.5s;
    transition        : all 0.5s;
    border            : none;
    margin-left       : 40px;
}

.button01:hover {
    background-color: #81BEF7;
    /*ボタン色*/
}

.return-button,
a.return-button {
    background-color: #DF7478 !important;
    opacity         : 0.8;
    width           : 160px;
    height          : 60px;
    padding-right   : 17px;
    border          : none;
    cursor          : pointer;
    font-weight     : bolder;
    border-radius   : 5px;
    margin          : 30px 0;
    color           : #ffffff;
    padding         : 19px 12px 0 0;
}

.return-button:hover,
a.return-button:hover {
    color: #fff;
}

.cars {
    background-color: #ffffff;
    margin-left     : 30px;
    padding         : 15px;
    border          : solid 1px #E6E6E6;
    border-radius   : 5px;
    margin-bottom   : 15px;
    width           : 1050px;
}

.car-title1 {
    margin-right: 30px;
}

.detail {
    margin-top: 5px;
}

.car-item1 {
    margin-right: 20px;
}

.car-item2 {
    margin-right: 70px;
}

.car-item2 h3 {
    margin-top: 10px;
}

.title {
    margin       : 50px 0 10px 30px;
    border-left  : 8px #DF7478 solid;
    padding      : 10px 0 10px 10px;
    border-bottom: 1px solid #DF7478;
}

.title:nth-of-type(1) {
    margin: 0 0 10px 30px;
}

.column {
    padding     : 5px 0 0 0;
    text-align  : center;
    height      : 70px;
    margin-right: 20px;
}

.column:nth-of-type(1) {
    border-right : 1px solid #c4c4c4;
    margin-right : 15px;
    padding-right: 15px;
}

#app {
    display: flex;
}

.price {
    font-size  : 30px;
    margin-top : -20px;
    font-weight: bolder;
}

.detail-button,
a.detail-button {
    background-color: #DF7478 !important;
    opacity         : 0.8;
    width           : 160px !important;
    height          : 55px;
    padding-right   : 17px;
    border          : none;
    cursor          : pointer;
    font-weight     : bolder;
    border-radius   : 5px;
    margin-top      : 15px;
    color           : #ffffff;
    padding         : 16px 0 0 0;
    margin-left     : 500px;
}

.detail-button:hover,
a.detail-button:hover {
    color           : #fff;
    background-color: #f08186 !important;
}

.car-end {
    background-color: #848484 !important;
    opacity         : 0.8;
    width           : 160px !important;
    height          : 55px;
    padding-right   : 17px;
    border          : none;
    font-weight     : bolder;
    border-radius   : 5px;
    margin-top      : 15px;
    color           : #ffffff;
    padding         : 16px 0 0 0;
    margin-left     : 500px;
    text-align      : center;
}

.return-button,
a.return-button {
    background-color: #DF7478 !important;
    opacity         : 0.8;
    width           : 160px;
    height          : 60px;
    padding-right   : 17px;
    border          : none;
    cursor          : pointer;
    font-weight     : bolder;
    border-radius   : 5px;
    margin          : 30px 0;
    color           : #ffffff;
    padding         : 19px 12px 0 0;
}

.return-button:hover,
a.return-button:hover {
    color           : #fff;
    background-color: #f08186 !important;
}

.null-img {
    margin: 0 40px;
}

.n-num {
    font-size: 35px;
}

#inputPrice {
    font-size: 30px;
}

.column-title1 {
    border-left  : 6px #DF7478 solid;
    border-bottom: solid 1px #DF7478;
    padding      : 10px 0 10px 10px;
    margin-bottom: 20px;
}

.maker {
    font-size   : 15px;
    font-weight : bolder;
    margin-right: 10px;
}

.now-price {
    padding    : 15px 0 13px 10px;
    border-left: 6px #81BEF7 solid;
    margin-left: 10px;
}

.now-price h5 {
    margin-right: 20px;
    line-height : 45px;
}

.now-price h1 {
    line-height: 35px;
}

.change-price {
    padding    : 15px 0 13px 18px;
    border-left: 6px #74df74 solid;
    margin-left: 10px;
    margin-top : 40px;
}

.change-price h5 {
    margin-right: 28px;
    line-height : 45px;
}

.change-price h1 {
    line-height: 35px;
}


/* 終了した時の */

.endinputprice {
    background: rgb(129, 129, 129);
}

.endbutton {
    background: rgb(129, 129, 129);
}

.end {
    position  : relative;
    background: #C4C4C4;
    opacity   : 0.7;
    z-index   : 100;
}

footer {
    position: absolute;
    bottom  : 0;
    padding : 0 10%;
}

#who {
    margin-left: 100px;
}