@charset "UTF-8";
.container {
    margin: 0 auto !important;
}

.img {
    width: 150px !important;
    text-align: center;
    margin-left: 70px;
    margin-top: 10px;
}

.nickname {
    padding: 20px 0;
}

.card {
    text-align: center;
    margin: 20px 0;
}

.button {
    margin-bottom: 10px;
    height: 50px;
    border: solid 1px #E6E6E6 !important;
    background-color: #ffffff !important;
    color: gray !important;
    line-height: 35px !important;
}

.button01 {
    width: 150px;
    line-height: 50px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    background-color: #58ACFA !important;
    /*ボタン色*/
    border-radius: 10px;
    /*角丸*/
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border: none !important;
}

.button01:hover {
    background-color: #81BEF7 !important;
    /*ボタン色*/
}

.title {
    margin: 20px 0 10px 30px;
    border-left: 8px #DF7478 solid;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #DF7478;
}

.title:nth-of-type(2) {
    margin-top: 80px;
}

.title-img {
    margin-top: -4px;
    margin-right: 5px;
}

.cars {
    background-color: #ffffff;
    margin-left: 30px;
    padding: 15px;
    border: solid 1px #E6E6E6;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 790px;
}

.car-title1,
.car-title2 {
    margin-right: 30px;
}

.detail {
    margin-top: 5px;
}

.car-item1 {
    margin-right: 20px;
}

.car-item2 {
    margin-right: 70px;
}

.car-item2 h3 {
    margin-top: 10px;
    margin-bottom: 60px;
}

.detail-button,
a.detail-button {
    background-color: #DF7478 !important;
    opacity: 0.8;
    width: 160px !important;
    height: 55px;
    padding-right: 17px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 75px;
    color: #ffffff;
    padding: 16px 0 0 0;
}

.detail-button:hover,
a.detail-button:hover {
    color: #fff;
    background-color: #f08186 !important;
}

.column {
    padding: 5px 5px 0 5px;
    text-align: center;
    height: 70px;
}

.column:nth-of-type(1) {
    border-right: 1px solid #c4c4c4;
    margin-right: 15px;
    padding-right: 15px;
}

.price {
    font-size: 30px;
    margin-top: -20px;
    font-weight: bolder;
}

.fav-title {
    font-size: 13px;
    margin-bottom: 10px;
}

.p-title {
    text-align: left;
    font-size: 13px;
}

.fav {
    margin-top: 0;
}

.fav-button,
a.fav-button {
    background-color: #DF7478 !important;
    opacity: 0.8;
    width: 160px !important;
    height: 55px;
    padding-right: 17px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 10px;
    color: #ffffff;
    padding: 16px 0 0 0;
    margin-left: 390px;
}

.fav-button:hover,
a.fav-button:hover {
    color: #fff;
    background-color: #f08186 !important;
}

.fav-img {
    margin-top: 18px;
}

.car-end {
    background-color: #BDBDBD !important;
    opacity: 0.8;
    width: 160px !important;
    height: 55px;
    padding-right: 17px;
    border: none;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 5px;
    color: #DF7478;
    padding: 16px 0 0 0;
    margin-left: 390px;
    text-align: center;
}

.null-img {
    margin: 0 12px;
}

.null {
    margin: 10px 30px;
    font-size: 18px;
}

.car-item2 {
    width: 340px;
}

.return-button,
a.return-button {
    background-color: #DF7478 !important;
    opacity: 0.8;
    width: 160px;
    height: 60px;
    padding-right: 17px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 10px;
    margin: 10px 0 30px 30px;
    color: #ffffff;
    padding: 19px 12px 0 0;
}

.return-button:hover,
a.return-button:hover {
    color: #fff;
    background-color: #f08186 !important;
}