@charset "UTF-8";

/* Search_Original_Reset */
footer {
    /* position: absolute;
    bottom  : 0; */
}

.container {
    padding-top: 10px;
}

.container_search_h2 {
    padding-left : 40px;
    height       : 35px;
    line-height  : 35px;
    position     : relative;
    font-size    : 28px;
    margin-bottom: 10px;
}

.container_search_h2::before {
    content   : '';
    position  : absolute;
    width     : 15px;
    height    : 35px;
    left      : 0;
    top       : 0;
    background: #DF7478;
}

.container_search h3 {
    font-size: 22px;
}

#searchButton {
    border-radius: 5px;
    width        : 60px;
    height       : 45px;
    margin-bottom: 10px;
}

#searchButton img {
    width: 35px;
}

.container_search_count_detail {
    border-top     : 1px solid #C4C4C4;
    display        : flex;
    justify-content: space-between;
    height         : 38px;

}

.container_resultCount {
    font-size: 24px;
}

.container_search_detailOpen {
    color        : #DD7F79;
    font-size    : 24px;
    position     : relative;
    padding-right: 50px;
    padding-left : 10px;
    cursor       : pointer;
    margin       : 0;
    transition   : 0.2s;
}

.container_search_detailOpen:hover {
    color: #de7e78;
}

.container_search_detailOpen::after {
    content        : '';
    width          : 35px;
    height         : 100%;
    top            : 0;
    right          : 0;
    position       : absolute;
    background     : url("/img/layout/detail.png")no-repeat center center;
    background-size: 70%;
    cursor         : pointer;
    transition     : 0.2s;

}

.js-accordion-title.open {
    transition   : 0.2s;
    background   : #fff;
    border-radius: 5px;
}

.js-accordion-title.open::after {
    transform : rotate(180deg);
    transition: 0.2s;
}

.container_searchDetail {
    padding      : 20px;
    background   : #fff;
    display      : none;
    width        : 100%;
    margin-bottom: 20px;
    position     : relative;
    border-radius: 5px;
}

.container_searchDetail h3,
.container_searchDetail p,
.container_searchDetail .sort {
    font-size: 16px;

}

.container_searchDetail .sort input {
    vertical-align: 0;
    margin-right  : 2px;
}

#sorthighlabel {
    margin-right: 10px;
}

.container_searchDetail_button {
    position: absolute;
    right   : 20px;
    bottom  : 20px;
}

.container_searchDetail_button_reset,
.container_searchDetail_button_submit {
    font-size    : 20px;
    color        : #000;
    border-radius: 5px;
    border       : none;
    width        : 156px;
    background   : #F6F6F6;
    border       : 1px solid #000;
    padding      : 3px 0;
}

.container_searchDetail_button_submit {
    color     : #FFF;
    border    : none;
    background: #DD7F79;
}

#add-input {
    width       : 600px;
    font-size   : 20px;
    margin-right: 5px;
}

#not-found {
    font-size    : 20px;
    margin-top   : 3%;
    margin-bottom: 51%;
}

.car_list p {
    margin: 0;
}

.car_list {
    display        : flex;
    justify-content: center;
    padding        : 30px;
    border-radius  : 5px;
    position       : relative;
    background     : #FFF;
    margin-bottom  : 20px;
}

.car_img {
    width       : 400px;
    margin-right: 30px;
}

.car_img img {
    width : 100%;
    height: auto;
}


.car_maker {
    font-size: 20px;
}

.car_name {
    font-size: 24px;
}

.start_time {
    position : absolute;
    right    : 45px;
    top      : 30px;
    font-size: 20px;
}

.start_time span {
    font-size: 24px;
}

.car_detail {
    margin-top: 10px;
    display   : flex;
}

.car_detail>div {
    display     : block;
    border-right: #C4C4C4 1px solid;
    padding     : 5px;
}

.car_detail>div:last-child {
    border: none;
}

.car_detail>div p {
    font-size: 18px;

}

.car_detail>div p:nth-child(2) {
    line-height: 50px;
    text-align : center;
}

.price {
    width: 180px;
}

.car_detail .price_price {
    font-size: 2em;
}

.car_button {
    position: absolute;
    right   : 45px;
    bottom  : 30px;
}

.favorite_button,
.link_detail_button {
    width        : 200px;
    height       : 50px;
    font-size    : 20px;
    border-radius: 5px;

}

.favorite_button {
    border: 1px solid #c4c4c4;
}

.link_detail_button {
    background: #DF7478;
    border    : none;
}

.link_detail_button a {
    display: block;
    color  : #f6f6f6;
}

.link_detail_button a:hover {
    color: #f6f6f6;
}

.link_detail_button img {
    margin-right: 3px;
}

.link_detail_button img,
.favorite_button img {
    width : auto;
    height: 35px;
}