.btn {
    padding: 10px 40px;
}

.logo {
    margin: 0.5% 0 0.5% 5%;
}

.logreg-btn {
    padding-top: 1.8%;
    margin-right: 5%;
}

.logreg-btn a {
    text-decoration: none;
}

.clear-decoration {
    border: none;
    /* 枠線を消す */
    outline: none;
    /* クリックしたときに表示される枠線を消す */
    background: transparent;
    /* 背景の灰色を消す */
}

.red {
    background-color: #D2393E;
    opacity: 0.7;
    color: #ffffff;
}

.red:hover {
    background-color: #ffffff;
    color: #D2393E;
}