@charset "UTF-8";

/* ----------追加---------- */
body,
html {
    padding: 0;
    /*　追加*/
    margin : 0;
    /*　追加*/
    height : 100%;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color          : #000;
}

body {
    background: #F6F6F6;
    overflow-y: scroll;
    height    : 100%;
}